
<%- include('header') -%>

<% for (let i = 0; i < data.length; i++){ %>
    <li>
        <a href="/airNomad/<%=i%>">
      <%= data[i].name %>
        </a>
  
    </li>
<% } %>

<%- include('footer') -%>